<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzw.sb.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.lzw.sb.model.User">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
  </resultMap>
  <sql id="Base_Column_List">
    id, username, password
  </sql>
  <select id="getRolesName" parameterType="com.lzw.sb.model.User" resultType="java.util.HashMap">
    SELECT r.rolename FROM t_role r LEFT JOIN t_user_role ur on r.id=ur.role_id LEFT JOIN t_user u on ur.user_id=u.id
    where 1=1
    <if test="username != null">
        and u.id = #{id,jdbcType=INTEGER}
      </if>
  </select>
  <select id="getRoleList" parameterType="com.lzw.sb.model.User" resultType="com.lzw.sb.model.Role">
    select r.* from t_role  r LEFT JOIN t_user_role u on r.id=u.role_id 
    where 1=1
    <if test="username != null">
        and u.id = #{id,jdbcType=INTEGER}
      </if>
      
  </select>
   <select id="findByName" parameterType="com.lzw.sb.model.User" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_user
    where username = #{username,jdbcType=VARCHAR}
  </select>
 
    <select id="selectUserList" parameterType="com.lzw.sb.model.User" resultType="com.lzw.sb.model.Role">
    select 
    <include refid="Base_Column_List" />
    from t_user
  </select>
</mapper>